@import 'bootstrap';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import './style.css';
/* @import './style-sara.css'; */
