:root {
    --mattone: rgb(188, 75, 81);
    --panna: rgb(242, 232, 207);
    --nero: rgb(0, 0, 0);
    --bianco: rgb(255, 255, 255);
}

body {
    margin-top: 134px;
}

.navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    min-height: 80px;
    width: 100%;
    /* background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover; */
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-elements {
    margin-left: 8px;
    margin-right: 8px;
}

.sention-icon {
    margin-left: 10%;
}

.nav-icon {

    width: 48px;
    font-size: 21px;
}

.logo-navbar {
    width: 150px;
    margin-left: 10%;
}

/* INIZIO barra di ricerca iportata */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 210px;
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    outline: none;
    background-color: rgba(148, 148, 148, 0.568);
    color: #f74e4e;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #000000;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(0, 0, 0, 0.411);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(73, 0, 0, 0.178);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #000000;
    width: 1rem;
    height: 1rem;
}

.img-custom {
    width: 400px;
}

/* carosello */

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: 400px;
    display: block;
    background: rgba(240, 240, 240, 0.65);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10 px rgb(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;

}

.card-list .card-link .badge {
    color: #3538ee;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.articoliperlacasa {
    color: rgb(rgb(0, 128, 0));
    background-color: rgb(rgb(120, 143, 120));
}

.card-list .card-link .badge.Elettronica {
    color: rgb(rgb(0, 0, 255));
    background-color: rgb(rgb(192, 192, 255));
}

.card-list .card-link .badge.videogiochi {
    color: rgb(rgb(255, 0, 0));
    background-color: rgb(rgb(255, 199, 199));
}

.card-list .card-link .badge.libri {
    color: rgb(rgb(255, 234, 0));
    background-color: rgb(252, 245, 170);
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: rgb(0, 0, 0);
    font-weight: 600;

}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;

}

.card-list .card-link .card-button {
    color: #fff;
    background: #5372f0;
}

/* fine Carosell */
.swiper {
    width: 80%;
    height: 550px;

}

.swiper-slide {

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    right: -100px;
    color: red;
}



.h-50 {
    height: 50%;
}


/* Card Tutti gli annunci */

.card-custom {
    min-height: 220px;
}

.footer {
    width: 400px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main-footer {
    flex: 4;
}

.border {
    height: 50vh;
    width: 1px;
}

/* card per categoria */

.card-custom-1 {
    min-height: 120px;
}

/* Button-anchor categoria */
.btn-custom-1 {
    text-decoration: none;
    padding: 0px 18px;
    border-radius: 10px;
    border: 0;
    background-color: darkgray;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgba(169, 169, 169, 0.555) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn-custom-1:hover {
    box-shadow: rgba(169, 169, 169, 0.555) 0px 7px 0px 0px;
}

.btn-custom-1:active {
    background-color: darkgray;
    /*50, 168, 80*/
    box-shadow: rgba(169, 169, 169, 0.555) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

/* Button-anchor dettaglio */
.btn-custom {
    padding: 0px 18px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(172, 34, 55);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(122, 28, 42) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn-custom:hover {
    box-shadow: rgb(172, 34, 55) 0px 7px 0px 0px;
}

.btn-custom:active {
    background-color: rgb(172, 34, 55);
    /*50, 168, 80*/
    box-shadow: rgb(172, 34, 55) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

/* Tasti swiper */



.swiper-custom {
    width: 600px;
    height: 540px;
}

.swiper-wrapper {
    height: 600px;
}

/* Carosello */
.carousel-custom {
    width: 400px;
    height: 400px;
}