:route {
    --crema: 188, 75, 81;
}


/* bottone navbar esterno */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    height: 40px;
    width: 201px;
    border: none;
    background: #FF342B;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    line-height: 22px;
    font-size: 17px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.button:hover {
    background: #e52e26;
}

.button:hover .svg-icon {
    animation: slope 1s linear infinite;
}

@keyframes slope {
    0% {}

    50% {
        transform: rotate(10deg);
    }

    100% {}
}

/* Immagini carosell */

/* .img-custom{
    height: 200px;
    width: 200px;
}

.carousel-custom{
    width: 200px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgb(236, 239, 254), rgb(206, 214, 251));
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: 400px;
    display: block;
    background: rgba(240, 240, 240, 0.65);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10 px rgb(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #5372f0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;

}

.card-list .card-link .badge {
    color: #3538ee;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.articoliperlacasa {
    color: rgb(rgb(0, 128, 0));
    background-color: rgb(rgb(120, 143, 120));
}

.card-list .card-link .badge.Elettronica {
    color: rgb(rgb(0, 0, 255));
    background-color: rgb(rgb(192, 192, 255));
}

.card-list .card-link .badge.videogiochi {
    color: rgb(rgb(255, 0, 0));
    background-color: rgb(rgb(255, 199, 199));
}

.card-list .card-link .badge.libri {
    color: rgb(rgb(255, 234, 0));
    background-color: rgb(252, 245, 170);
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: rgb(0, 0, 0);
    font-weight: 600;

}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372f0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;

}

.card-list .card-link .card-button {
    color: #fff;
    background: #5372f0;
}

/* Card homepage */

.card-custom {
    height: 450px;
}

/* navbar */
.nav-personale{
    height: 85px;
    width: 100%;
    background-color: var(--bianco);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 99;
}



.nav-personale2{
    background-color: rgb(0, 0, 0);
}

.elementiNav{
    margin-left: 10px;
    margin-right: 10px;
}
