.navbar-collapse {
  padding-top: 0;
  padding-bottom: 0;
}

.barra-ricerca{
    width: 400px;
}

/* Desktop */
@media (min-width: 992px) {
  .navbar {
    height: 64px;
  }

  .navbar-collapse {
    height: auto;
  }
}

/* Mobile */
@media (max-width: 991px) {
  .navbar {
    height: auto;
  }

  .navbar-collapse {
    margin-top: 0;
  }
}

.header-img{
  /* width: 100%; */
  height: 340px;
  background-image: url(../../public/media/header-linea-sottostante.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* position: center; */
  /* top: 10vh; */
  /* z-index: 99; */
}
